
@font-face {
    font-family:"PTC55F";
    src: url('../fonts/PT-Sans/PTC55F.ttf')
}

@font-face {
    font-family:"PTC75F";
    src: url('../fonts/PT-Sans/PTC75F.ttf')
}

@font-face {
    font-family:"PTN57F";
    src: url('../fonts/PT-Sans/PTN57F.ttf')
}

@font-face {
    font-family:"PTN77F";
    src: url('../fonts/PT-Sans/PTN77F.ttf')
}

@font-face {
    font-family:"PTN77F";
    src: url('../fonts/PT-Sans/PTN77F.ttf')
}

@font-face {
    font-family:"PTS55F";
    src: url('../fonts/PT-Sans/PTS55F.ttf')
}

@font-face {
    font-family:"PTS56F";
    src: url('../fonts/PT-Sans/PTS56F.ttf')
}

@font-face {
    font-family:"PTS75F";
    src: url('../fonts/PT-Sans/PTS75F.ttf')
}

@font-face {
    font-family:"PTS76F";
    src: url('../fonts/PT-Sans/PTS76F.ttf')
}







/*                            ssssssssssssssssssssssss*/
@font-face {
    font-family: "Sunny";
    src: url('../fonts/sunny4/fonts/sunny4.ttf');
}

@font-face {
    font-family:"PTSuns Narrow";
    src: url('../fonts/PT-Sans/PTN57F.ttf')
}