<div class="left-wrap-iphone">
    <div class="add-drop-town">
        <div class="fll add-drop-wrap-1">
            <span class="hide-menu icon icon-menu"></span>
            <input class="hide" id="search" type="text"/>
        </div>
        <div class="add-drop-wrap-2">
            <span class="add-place icon icon-add"></span>
            <span class="remove-place icon icon-delete"></span>
        </div>
    </div>
    <div class="changed-places">

        <div class="town-weather">
            <span class="town-weath-icon icon icon-sunny fll"></span>
            <div class="town-wrap-temp fll">

                <div class="town-temp">
                    <span class="town-sign"></span>
                    <span class="town-val">32</span>
                    <span class="town-measur">&#176;</span>
                </div>
            </div>
            <div class="fll town-add-wrap">
                <span class="town-name">Dnepasar</span>
                <span class="fll cur-weather">//mostly sunny</span>
            </div>
            <div class="fll hide wrap-check-box">
                <input type="checkbox"/>
            </div>
        </div>

        <div class="town-weather">
            <span class="town-weath-icon icon icon-thunderstorm fll"></span>
            <div class="town-wrap-temp fll">
                <div class="town-temp">
                    <span class="town-sign"></span>
                    <span class="town-val">29</span>
                    <span class="town-measur">&#176;</span>
                </div>
            </div>
            <div class="fll town-add-wrap">
                <span class="town-name">Male</span>
                <span class="fll cur-weather">//thunderstorm</span>
            </div>
            <div class="fll hide wrap-check-box">
                <input type="checkbox"/>
            </div>
        </div>

        <div class="town-weather">
            <span class="town-weath-icon icon icon-rain fll"></span>
            <div class="town-wrap-temp fll">
                <div class="town-temp">
                    <span class="town-sign"></span>
                    <span class="town-val">25</span>
                    <span class="town-measur">&#176;</span>
                </div>
            </div>
            <div class="fll town-add-wrap">
                <span class="town-name">Thiruvavananthapuram</span>
                <span class="fll cur-weather">//rain</span>
            </div>
            <div class="fll hide wrap-check-box">
                <input type="checkbox"/>
            </div>
        </div>
    </div>
</div>

<div class="bot-wrap">
    <div class="main-set">
        <div class="change-measure">
            <div class="fll meas-wrap">
                <span id="change-c" class="checked-unit" >&#176;C</span>
                <span id="change-f">&#176;F</span>
            </div>
            <span class="flr set icon icon-settings"></span>
        </div>
    </div>
    <div class="show-for">
        <span class="show-update-name">show weather every</span>
        <div class="slider-circ" id="show-for-slider" >
            <div class="slid-wrap-c">
                <span class="runner-c-before"></span>
                <div class="runner-c"></div>
                <div class="strike-c"></div>
            </div>
        </div>
    </div>
    <div class="show-every">
        <span class="show-update-name">show weather every</span>
        <div class="slider-circ" id="show-every-slider">
            <div class="slid-wrap-c">
                <div class="strike-c"></div>
                <div class="runner-c"></div>
            </div>
        </div>
    </div>
</div>