
    <div class="main-set">
        <div class="change-measure">
            <div class="fll meas-wrap">
                <span id="change-c"  >&#176;C</span>
                <span id="change-f" class="checked-unit" >&#176;F</span>
            </div>
            <span class="flr set icon icon-settings"></span>
        </div>
    </div>


    <p class="mr-bot">
        <label for="days">SHOW WHEATHER EVERY </label>
        <input type="text" id="days" readonly style="width:2em; border:0; color:#ffffff; background-color: #152132; font-weight:bold;"><span>DAYS</span>
    </p>
    <div id="show-every" class="slid-bot"></div>

    <p class="mr-bot">
        <label for="minute">UPDATE WHEATHER EVERY </label>
        <input type="text" id="minute" readonly style="width:2em; border:0; color:#ffffff; background-color: #152132; font-weight:bold;"><span>MINUTES</span>
    </p>
    <div id="update" class="slid-bot"></div>

