<div id="sun"></div>

<main>
    <div class="gallery">
        <div class="move-gallery"></div>
    </div>
    <div id="town-count-wrap">

    </div>
</main>

<aside class="settings">
    <div class="left-wrap-iphone ">
        <div class="add-drop-town">
            <div class="fll add-drop-wrap-1">
                <span class="hide-menu icon icon-menu"></span>
                <input id="search" class="hide" type="text"/>
            </div>
            <div class="add-drop-wrap-2">
                <span class="add-place icon icon-add"></span>
                <span class="remove-place icon icon-delete"></span>
            </div>
        </div>
        <div class="changed-places">

        </div>
    </div>
    <div class="bot-wrap"></div>
</aside>