<li class="fav-place" data-code="<%= obj.city %>">
    <div class="weather-block">
        <span class="fcw-icon icon-<%= obj.icon %>"></span>
        <span class="fcw-temp"><%= obj.temp %></span>
    </div>
    <div class="city-details ">
        <span class="fav-city"><%= obj.city %></span>
        <span class="add-info">// <%= obj.summary %></span>
    </div>
    <form action="">
        <label>
            <input data-id="<%= obj.id %>" class="city-picker" type="checkbox"/>
            <span></span>
        </label>
    </form>
</li>

