<div id="sidebar">
    <div id="places">
        <div id="places-controls">
            <div class="top-side-box">
                <span class="add-btn icon-add"></span>
                <span class="delete-btn icon-delete"></span>
            </div>
            <span class="slide-hide icon-menu"></span>
            <form id="search-form" action="#"><input class="city-finder" type="text"/></form>
        </div>
        <ul class="cities-box"></ul>
    </div>
    <div id="main-settings"></div>
</div>