<!--Obj это аллиас аргумента, заходящего в теплтейт с вьюхи-->

<div id="<%= obj.city %>" class="component">
    <div class="time-box">
        <em><%= obj.time %></em><a class="icon-refresh"></a>
    </div>
    <!--Main block with chosen city and actual weather-->
    <div class="today-block">
        <div class="this-location">
            <h2 class="current-city"><%= obj.city %></h2>
            <h3 class="current-data"><%= obj.day %>, <%= obj.month %> <%= obj.tale %></h3>
        </div>
        <div class="actual-weather">
            <span class="icon-snow current-icon"></span>
            <div class="moon-box">
                <span class="moon icon-almost-old"></span>
                <em class="moon-face">6:20</em>
            </div>
            <div class="info-box">
                <span class="temperature"><%= obj.crnt.temp %></span>
                <span class="w-text">// <%= obj.crnt.summary %></span>
            </div>
        </div>
        <div class="weather-info">
            <div class="hours-holder">
                <ul>
                    <li class="today-hours">
                        <em>01:00</em>
                        <span class="icon-thunderstorm hw-icon"></span>
                        <span class="hw-temp">-2</span>
                    </li>
                    <li class="today-hours">
                        <em>02:00</em>
                        <span class="icon-sleet-rain hw-icon"></span>
                        <span class="hw-temp">0</span>
                    </li>
                    <li class="today-hours">
                        <em>03:00</em>
                        <span class="icon-partly-cloudy hw-icon"></span>
                        <span class="hw-temp">-2</span>
                    </li>
                    <li class="today-hours">
                        <em>04:00</em>
                        <span class="icon-sunny hw-icon"></span>
                        <span class="hw-temp">0</span>
                    </li>
                    <li class="today-hours"><em>05:00</em><span class="icon-sunny hw-icon"></span><span class="hw-temp">10</span></li>
                    <li class="today-hours"><em>06:00</em><span class="icon-sunny hw-icon"></span><span class="hw-temp">10</span></li>
                    <li class="today-hours"><em>07:00</em><span class="icon-sunny hw-icon"></span><span class="hw-temp">10</span></li>
                    <li class="today-hours"><em>08:00</em><span class="icon-sunny hw-icon"></span><span class="hw-temp">10</span></li>
                    <li class="today-hours"><em>09:00</em><span class="icon-sunny hw-icon"></span><span class="hw-temp">10</span></li>
                    <li class="today-hours"><em>10:00</em><span class="icon-sunny hw-icon"></span><span class="hw-temp">10</span></li>
                    <li class="today-hours"><em>11:00</em><span class="icon-sunny hw-icon"></span><span class="hw-temp">10</span></li>
                    <li class="today-hours"><em>12:00</em><span class="icon-sunny hw-icon"></span><span class="hw-temp">10</span></li>
                    <li class="today-hours"><em>13:00</em><span class="icon-sunny hw-icon"></span><span class="hw-temp">10</span></li>
                    <li class="today-hours"><em>14:00</em><span class="icon-sunny hw-icon"></span><span class="hw-temp">10</span></li>
                    <li class="today-hours"><em>15:00</em><span class="icon-sunny hw-icon"></span><span class="hw-temp">10</span></li>
                    <li class="today-hours"><em>16:00</em><span class="icon-sunny hw-icon"></span><span class="hw-temp">10</span></li>
                    <li class="today-hours"><em>17:00</em><span class="icon-sunny hw-icon"></span><span class="hw-temp">10</span></li>
                    <li class="today-hours"><em>18:00</em><span class="icon-sunny hw-icon"></span><span class="hw-temp">10</span></li>
                    <li class="today-hours"><em>19:00</em><span class="icon-sunny hw-icon"></span><span class="hw-temp">10</span></li>
                    <li class="today-hours"><em>20:00</em><span class="icon-sunny hw-icon"></span><span class="hw-temp">10</span></li>
                    <li class="today-hours"><em>21:00</em><span class="icon-sunny hw-icon"></span><span class="hw-temp">10</span></li>
                    <li class="today-hours"><em>22:00</em><span class="icon-sunny hw-icon"></span><span class="hw-temp">10</span></li>
                    <li class="today-hours"><em>23:00</em><span class="icon-sunny hw-icon"></span><span class="hw-temp">10</span></li>
                    <li class="today-hours"><em>24:00</em><span class="icon-sunny hw-icon"></span><span class="hw-temp">10</span></li>
                </ul>
                <div class="hw-slider-box"><span class="w-slider"></span></div>
            </div>
            <!--Third block with 4 weather indicators-->
            <div class="indicators">
                <ul>
                    <li id="wet">
                        <span class="icon-humidity ind-icon"></span>
                        <span class="ind-value"> <%= obj.crnt.humidity %>%</span></li>
                    <li id="wind-speed">
                        <span class="icon-wind-direction ind-icon"></span>
                        <span class="ind-value"><%= obj.crnt.wSpeed %></span></span>
                    </li>
                    <li id="sunrise">
                        <span class="icon-sunrise ind-icon"></span>
                        <em class="ind-value"><%= obj.crnt.sunRise %></em>
                    </li>
                    <li id="moonrise">
                        <span class="icon-sunset ind-icon"></span>
                        <em class="ind-value"><%= obj.crnt.sunSet %></em>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--Block with week days-->
    <div class="days-block">
        <ul class="days">
            <% _.each( obj.week, function( item ){ %>
            <li class="day mon today">
                <span class="day-id"><%= item.day %></span>
                <span class="dw-icon icon-heavy-snow"></span>
                <div class="ration-box">
                    <span class="min-temp"><%= item.min %></span><span class="ratio-block"></span><span class="max-temp"><%= item.max %></span>
                </div>
            </li>
            <% }); %>
            <!--<li class="day tuesday">-->
                <!--<span class="day-id">TUE</span>-->
                <!--<span class="dw-icon icon-sleet-rain"></span>-->
                <!--<div class="ration-box">-->
                    <!--<span class="min-temp">2</span><span class="ratio-block"></span><span class="max-temp">12</span>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="day wednesday">-->
                <!--<span class="day-id">WED</span>-->
                <!--<span class="dw-icon icon-sunny"></span>-->
                <!--<div class="ration-box">-->
                    <!--<span class="min-temp">-3</span><span class="ratio-block"></span><span class="max-temp">6</span>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="day thursday">-->
                <!--<span class="day-id">THU</span>-->
                <!--<span class="dw-icon icon-thunderstorm"></span>-->
                <!--<div class="ration-box">-->
                    <!--<span class="min-temp">-2</span><span class="ratio-block"></span><span class="max-temp">7</span>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="day friday">-->
                <!--<span class="day-id">FRI</span>-->
                <!--<span class="dw-icon icon-cloudy"></span>-->
                <!--<div class="ration-box">-->
                    <!--<span class="min-temp">-4</span><span class="ratio-block"></span><span class="max-temp">5</span>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="day saturday">-->
                <!--<span class="day-id">SAT</span>-->
                <!--<span class="dw-icon icon-dust"></span>-->
                <!--<div class="ration-box">-->
                    <!--<span class="min-temp">-2</span><span class="ratio-block"></span><span class="max-temp">10</span>-->
                <!--</div>-->
            <!--</li>-->
            <!--<li class="day sunday">-->
                <!--<span class="day-id">SUN</span>-->
                <!--<span class="dw-icon icon-fog"></span>-->
                <!--<div class="ration-box">-->
                    <!--<span class="min-temp">-3</span><span class="ratio-block"></span><span class="max-temp">9</span>-->
                <!--</div>-->
            <!--</li>-->
        </ul>
    </div>
</div>