#sun{
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #E7FF0F;
    -webkit-box-shadow:  0 0  200px 200px rgba(231, 255, 15, 0.75);
}
#sun:after{
    content: '';
    display: block;
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: #ff290e;
    -webkit-box-shadow:  0 0  200px 200px rgba(231, 255, 15, 0.75);
}

    @-webkit-keyframes sun {
        0%{bottom: -40%;left:-30%}
        40%{bottom: 60%}
        50%{bottom: 65%}
        60%{bottom: 60%}
        100%{bottom:-40%;left:130%;}
    }
@-webkit-keyframes sunrise{
    0%{}
    100%{-webkit-box-shadow:  0 0  200px 200px rgba(255,33,0,1);}
}

#sun{
    -webkit-animation: 10s linear sun  0s infinite ;
}
#sun:after{
    -webkit-animation: 10s sunrise   0s infinite ;
}