<div class="settings-head">
        <span class="temp-c">C</span>
        <span class="separator"></span>
        <span class="temp-f temp-active">F</span>
        <span class="icon-settings"></span>
    </div>
    <div id="weather-for-days">
        <div class="label-box">
            <span class="label">SHOW WEATHER FOR<em class="value"></em></span>
        </div>
        <div class="slider-box">
        </div>
    </div>
    <div id="update-time">
        <div class="label-box">
            <span class="label">UPDATE WEATHER EVERY<em class="value"></em></span>
        </div>
        <div class="slider-box">
        </div>
    </div>
</div>