    <div class="main-set">
        <div class="change-measure">
            <div class="fll meas-wrap">
                <span id="change-c"  >&#176;C</span>
                <span id="change-f" class="checked-unit" >&#176;F</span>
            </div>
            <span class="flr set icon icon-settings"></span>
        </div>
    </div>
    <div class="show-for">
        <span class="show-update-name">show weather every</span>
        <div class="slider-circ" id="show-for-slider" >
            <div class="slid-wrap-c">
                <span class="runner-c-before"></span>
                <div class="runner-c"></div>
                <div class="strike-c"></div>
            </div>
        </div>
    </div>
    <div class="show-every">
        <span class="show-update-name">show weather every</span>
        <div class="slider-circ" id="show-every-slider">
            <div class="slid-wrap-c">
                <div class="strike-c"></div>
                <div class="runner-c"></div>
            </div>
        </div>
    </div>
