
    <div class="gallery-item">
        <div class="refresh-wrap">
            <time class="update-time"><%=obj.model.filterData.current.time%></time>
            <span data-icon="L" class="ref-icon icon"></span>
        </div>
        <div class="module-wrap">
            <div class="main-module">
                <div class="wrap-for-iphone-left">
                    <div class="main-add-info">
                        <h1 class="curt-place"><%=obj.city%></h1>
                        <div class="date-wrap">
                            <span class="cur-day"><%=obj.model.filterData.weekday%>,</span>
                            <span class="cur-dat"><%=obj.model.filterData.month%> <%=obj.model.filterData.date%></span>
                        </div>
                    </div>
                    <div class="main-info">
                        <div class="cur-weather">
                            <span  class="fll cur-weath-icon icon-snow"></span>
                            <div class="fll cur-wrap-temp">
                                <div class="cur-ent-temp">
                                    <span class="cur-val degree-val celje-val"><%=obj.model.filterData.current.temp%></span>
                                    <span class="cur-measur ">&#176;</span>
                                </div>
                                <span class="cur-weather-val">//<%=obj.model.filterData.current.summary%></span>
                            </div>
                        </div>
                        <div class="cur-moon">
                            <span data-icon="L" class="fll cur-moon-phase icon icon-<%=obj.model.filterData.moonPhase%>"></span>
                            <span class="cur-moon-rise">6:20</span>
                        </div>
                    </div>
                </div>
                <div class="wrap-for-iphone-right">
                    <div class="cur-whole-day">
                        <div class="wheather-by-hours">

                        <!--Hourly  wheather-->
                        <% _.each( obj.model.filterData.hourly, function( item ){ %>

                            <div class="fll cur-by-hourse">
                                <time class="cur-per-hour"><%=item.time%></time>
                                <span data-icon="L" class="cur-per-wheather icon icon-<%=item.icon%>"></span>
                                <div class="cur-per-temp-bh">
                                    <span class="cur-val-bh degree-val celje-val"><%=item.temp%></span>
                                    <span class="cur-measur-bh">&#176</span>
                                </div>
                            </div>
                            <% }); %>

                        </div>
                        <div class="slider-sq" id="scrollbar">
                            <div class="slide-wrap">
                                <span class="runner-s"></span>
                                <span class="strike-s"></span>
                            </div>
                        </div>
                    </div>
                    <div class="other-opt">
                        <div class="fll oth humdity ">
                            <span class="oth-font1 hum-icon icon icon-humidity"></span>
                            <span class="oth-font2 hum-val"><%=obj.model.filterData.current.humidity%></span>
                        </div>
                        <div class="fll oth wind">
                            <span  style='transform: rotate(<%= obj.model.filterData.current.windBearing %>deg)' class="oth-font1 wind-icon icon icon-wind-direction "></span>
                            <span class="oth-font2 wind-val"><%=obj.model.filterData.current.windSpeed%></span>
                            <span class="wind-measur">m/c</span>
                        </div>
                        <div class="fll oth sunrise">
                            <span class="oth-font1 sunrise-icon icon icon-sunrise"></span>
                            <span class="oth-font2 sunrise-val"><%=obj.model.filterData.sunriseTime%></span>
                        </div>
                        <div class="fll oth sunset">
                            <span class="oth-font1 sunset-icon icon icon-sunset"></span>
                            <span class="sunset-val oth-font2"><%=obj.model.filterData.sunriseTime%></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-module">

                <!--Week wheather-->
                <% _.each( obj.model.filterData.week, function( item ){ %>
                    <div class="week-day week-it-1">
                        <div class="day-wrap">
                            <span class="day-name"><%=item.weekday%></span>
                            <span class="day-icon icon icon-<%=item.icon%>"></span>
                        </div>
                        <div class="day-temp-wrap">
                            <div class="day-temp">
                                <div class="min-temp">
                                    <span class="fll day-val degree-val celje-val"><%=item.maxTemp%></span>
                                    <span class="day-deg">&#176;</span>
                                </div>
                                <div class="temp-strike"></div>
                                <div class="max-temp">
                                    <span class="day-val degree-val celje-val"><%=item.minTemp%></span>
                                    <span class="day-deg">&#176;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                 <% }); %>

            </div>
        </div>
    </div>


