html,body{
    height: 100%;
}
#wrapper{
    position: relative;
    padding-left: 1.041%;
    overflow: hidden;
    -webkit-user-select: none;
}
#content{
    width: 66.66%; /*1280px*/
    float: left;
    overflow: hidden;
    padding-top: 1.875em;
}
#content-wrap{
    position: relative;
    margin-left: 0;
    width: 9999px;
    overflow: hidden;
    -webkit-transition: margin-left 2s;
}
.component{
    width: 1280px;
    float: left;
}
.days-block, .today-block {
    position: relative;
    float: left;
}
/*style for main sidebar*/
.today-block {
    width: 46.875%; /*600px*/
    margin-right: 3.125%;
}
.time-box{
    position: relative;
}
.time-box em{
    font-size: 1.875em;
    font-style: normal;
}
.icon-refresh{
    transform-origin: 48% 34%;
    position: absolute;
    font-size: 3.125em;
    top: -0.09em;
}
.rotate{
    transform: rotate(360deg);
    transition: all 0.5s linear;
}
.this-location {
    position: relative;
    margin-bottom: 2.625em;
}
.this-location h2{
    font-size: 4.6875em;
    letter-spacing: 0.2em;
}
.this-location h3{
    font-size: 2.5em;
    line-height: 1.2em;
    letter-spacing: 0.2em;
}
.actual-weather{
    overflow: hidden;
    border-bottom: 3px solid rgba(255,255,255,0.25);
}
.current-icon:before{
    font-size:10.625em;
}
.current-icon {
    float: left;
}
.info-box{
    overflow: hidden;
}
.temperature::after{
    content: "\00B0";
    position: relative;
    font-size: 0.7em;
    bottom: 0.3em;
}
.temperature{
    display: block;
    font-size: 6.25em;
    margin: 0.1em 0 0 0.8333333333333333%;
}
.w-text{
    font-size: 1.25em;
    margin-left: 4.16%;
    line-height: 1em;
}
.moon-box{
    float: right;
    margin-top: 1.25em;
}
.moon{
    display: block;
}
.moon-face {
    margin-left: 11.25%;
    font-size: 1.875em;
    font-style: normal;
}
/*Hourly weather list*/
.hours-holder {
    overflow: hidden;
    padding-top: 0.9625em
}
.hours-holder ul{
    position: relative;
    left: 0;
    width: 643.3333333333%;
    overflow: hidden;
    margin-bottom: 1.5625em;
}
.today-hours{
    float: left;
    width: 3.9%;
    text-align: center;
}
.today-hours em{
    display: block;
    font: normal 1.25em 'PTSans-Narrow';
    margin-bottom: 0.75em;
}
.hw-icon{
    display: block;
    font-size: 4.375em;
}
.hw-temp{
    font-size: 2.5em;
}
.hw-temp:after{
    content: "\00B0";
    position: relative;
    font: normal .9em 'PTSans-Narrow';
    bottom: 0.2em;
}
.hw-slider-box{
    height: 3px;
    margin-bottom: 0.3125em;
    background-color: rgba(255,255,255,0.25);
}
.w-slider{
    position: relative;
    display: block;
    left: 0;
    top: -3px;
    width: 18.33333333333333%;
    height: 10px;
    border-radius: 2px;
    background-color: #fff;
    cursor: pointer;
}
.indicators{
    padding-top: 1.6875em;
    overflow: hidden;
}
.indicators li{
    float: left;
    width: 25%; /*150px*/
    text-align: center;
}
.ind-icon{
    display: block;
    font-size: 4.375em;
}
.w-bearing{
    transform-origin: 50% 40%;
}
.ind-value{
    font: normal 2.5em 'PTSans-Narrow';
}
.wind-speed:before{
    content: 'm/c';
    position: absolute;
    font-weight: normal;
    font-size: 1.25em;
    bottom: 1.35em;
    left: 40.5%;
}
/*side bar with week days*/
.days-block {
    width: 41.40%; /*530px;*/
    padding: 0 2.734375%;
    background-color: rgba(255,255,255,0.2);
}
.day{
     height: 6em;
     line-height: 6em;
     border-bottom: 3px solid rgba(255,255,255,0.25);
 }
.day:last-child{
    border-bottom: 0;
}
.day-id{
    float: left;
    font-size: 2.1875em;
    margin-right: 0.5em;
    width: 18.867%;
    color: #fff;
}
.dw-icon{
    float: left;
}
.dw-icon:before{
    position: relative;
    font-size: 3.125em;
    top: 0.3em;
}
.ration-box{
    overflow: hidden;
}
.min-temp,.max-temp{
    font-size: 2.1875em;
}
.ratio-block{
    display: inline-block;
    width: 35%;
    height: 1.75em;
    margin: 0 0.5em;
    border-radius: 10px;
    background-color: #fff;
}
.min-temp:after,.max-temp:after{
    position: relative;
    content: "\00B0";
    font-size: 0.8em;
    bottom: 0.4em;
}
#pagination{
    position: fixed;
    bottom: 2em;
    left: 50%;
    margin-left: -6.5em;
}
#pagination li{
    width: 1.25em;
    height: 1.25em;
    border: 2px solid rgba(255,255,255,0.25);
    border-radius: 50%;
    display: inline-block;
    margin-right: 1em;
    cursor: pointer;
}
#pagination li:last-child{
    margin-right: 0;
}
#pagination li.active {
    background-color: #fff;
}
/*weather settings for days*/
.mon .ration-box{
    padding-left: 10%;
}
.tuesday .ration-box{
    padding-left: 25.415%;
}
.wednesday .ration-box{
    padding-left: 8.49%;
}
.thursday .ration-box{
    padding-left: 11.32%;
}
.friday .ration-box{
    padding-left: 5.66%;
}
.saturday .ration-box{
    padding-left: 11.32%
}
.sunday .ration-box{
    padding-left: 9.43%;
}
/* side bar*/
#sidebar {
    width: 33.33%;
    height: 100%;
    right: 0;
    position: fixed;
    padding: 1.25em 0 0 0;
    background-color: #081322;
    z-index: 10000;
}
#places{
    padding-left: 6.349%;
}
#search-form{
    width: 56%;
    display: none;
    margin: 0 .625em 0 2.54%;
    vertical-align: top;
}
#places-controls{
    padding: 0 5.372% 3.389% 0;
    border-bottom: 3px solid rgba(255,255,255,0.25);
}
#places-controls span{
    width: 5.762%;
    height: 2.125em;
    cursor: pointer;
}
.hide-btn{
    position: absolute;
    left: -5.5em;
}
.cities-box{
    width: 100%;
    height: 35em;
    overflow: auto;
}
.city-finder{
    height: 1.75em;
    width: 100%;
    border: 0;
    font-size: 1.25em;
    padding: 0 2.985%;
    border-radius: 20px;
    background-color: #c1c4c8;
}
.top-side-box{
    float: right;
    text-align: right;
    margin-left: 7%;
}
.add-btn{
    margin-right: 1em;
}
/*Favorite cities*/
.fav-place{
    height: 7em;
    border-bottom: 3px solid #464e59;
    overflow: hidden;
}
.weather-block{
    height: 7em;
    line-height: 7em;
    float: left;
}
.fcw-icon{
    position: relative;
    font-size: 4.375em;
    color: rgba(255,255,255,0.5);
}
.fcw-temp{
    position: relative;
    top: -0.2666em;
    left: 1.66%;
    font-size: 3.75em;
}
.fcw-temp:after{
    position: relative;
    content: "\00B0";
    font-size: 0.8em;
    bottom: 0.3em;
}
.city-details{
    float: left;
    position: relative;
    top: 15%;
    left: 5%;
    width: 50.983%;
    overflow: hidden;
}
.fav-city{
    display: block;
    font-size: 1.875em;
}
.add-info{
    color: #848991;
    line-height: 1.7em;
    font-size: 1.25em;
}
.fav-place form{
    float: right;
    line-height: 2em;
    margin-right: 5.474%;
}
.city-picker{
    visibility: hidden;
}
.city-picker + span{
    display: inline-block;
    width: 1.875em;
    height: 1.875em;
    background-color: #000;
    cursor: pointer;
}
.city-picker:checked + span:before{
    font-size: 1.875em;
    color: #ff4200;
    content: 'M';
    font-family: "sunny4" !important;
    position: relative;
    background-color: #000;
}
.city-picker:checked + span{
     background-color: #081322;
}
/*Block with settings*/
#main-settings{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-left: 6.319%;
    background-color: #152132;
}
.settings-head{
    height: 5em;
    border-bottom: 3px solid #7d7c86;
}
.temp-c,.temp-f{
    color: rgba(80,89,101,0.2);
    font-size: 2.5em;
    cursor: pointer;
}
.temp-c:before,.temp-f:before{
    position: relative;
    content: "\00B0";
    font-size: 0.825em;
    bottom: 0.3em;
}
.separator{
    position: relative;
    top: 0.625em;
    display: inline-block;
    height: 3.25em;
    width: 2px;
    background-color: rgba(80,89,101,0.2);
    margin: 0 5.83%;
}
.temp-active{
    color: #fff;
}
.icon-settings{
    float: right;
    position: relative;
    top: 50%;
    right: 11.474%;
    margin-top: -3.333%;
}
#weather-for-days, #update-time{
    margin-left: 4.40%;
    padding-top: 2.125em;
    height: 7.1875em;
}
#update-time{
    margin-bottom: 1em;
}
#weather-for-days{
    border-bottom: 3px solid #7d7c86;
}
/*sliders*/
.slider-box{
    width: 85.077%;
    background-color: #0a1019;
    position: relative;
    top: 30%;
}
.wfd-slider{
    height: 0.3125em;
    background-color: #ff4200;
}
.upt-slider{
    height: 0.3125em;
    background-color: #ff4200;
}
.caret{


}
.label-box{
    width: 85.077%;
    overflow: hidden;
}
.label{
    font-weight: bold;
    color: rgba(80,89,101,0.25);
    font-size: 1.5625em;
}
.value{
    color: #fff;
    float: right;
    font-style: normal;
}
/*Jquery UI slider costomization*/
div.ui-widget-content{
    border:0;
    background: #0a1019;
    height: 0.3125em;
}
div.ui-widget-header{
    background: #ff4200;
}
span.ui-slider-handle.ui-state-default {
    position: relative;
    display: inline-block;
    top: -10px;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 6px solid #fff;
    background: #0a1019;
}