<div class="town-weather">
    <span class="town-weath-icon  fll"></span>
    <div class="town-wrap-temp fll">
        <div class="town-temp">
            <span class="town-sign"></span>
            <span class="town-val"></span>
            <span class="town-measur"></span>
        </div>
    </div>
    <div class="fll town-add-wrap">
        <span class="town-name"><%= obj.city %></span>
        <span class="fll cur-weather"><%= obj.country %></span>
    </div>
    <div class="fll  wrap-check-box">
        <input type="checkbox"/>
    </div>
</div>
