@-webkit-keyframes precipitation{
    0%{opacity: 0}
    20%{opacity: 1;}
    50%{transform: rotate(10deg)}
    100%{top: 60%;opacity: 0;transform: rotate(0deg)}

}

.speed1{-webkit-animation: precipitation 10s linear 0s infinite; }
.speed2{-webkit-animation: precipitation 10s linear 1s infinite; }
.speed3{-webkit-animation: precipitation 10s linear 2s infinite; }
.speed4{-webkit-animation: precipitation 10s linear 3s infinite; }
.speed5{-webkit-animation: precipitation 10s linear 4s infinite; }
.speed6{-webkit-animation: precipitation 10s linear 5s infinite; }
.speed7{-webkit-animation: precipitation 10s linear 6s infinite; }
.speed8{-webkit-animation: precipitation 10s linear 7s infinite; }
.speed9{-webkit-animation: precipitation 10s linear 8s infinite; }
.speed10{-webkit-animation: precipitation 10s linear 9s infinite; }
.speed11{-webkit-animation: precipitation 10s linear 9s infinite; }


.start{
    position: absolute;
    left:-10% ;
    top:-30%;
    width: 100%;
    display: block;
    height: 30%;
}
.shift1{ left: 2%;}
.shift2{ left: 5%;}
.shift3{ left: 8%;}
.shift4{ left: 11%;}
.shift5{ left: 15%;}



.snow{background: url('../images/snow.png');}
.rain{background: url('../images/rain.png');}
